@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041822 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c; /* Referente ao texto*/
  margin: 45px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 40px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
  /*   align-items: center; */
  margin-left: 20px;
}

.perfil-foto {
  border-radius: 100px;
  max-height: 150px;
  max-width: 150px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 25px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 16px; /* vertical horizontal */
  background: #ecf4ff;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
  height: 40px;
}

.projetos {
  display: flex;
  flex-direction: column;
  /*   align-items: left; */
  /*   margin-left: 150px; */
  margin-top: 32px;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none; /*   tirar os pontinhos  */
  line-height: 48px;
  font-weight: 400;
  font-size: 24px;
}

.projetos a {
  /* Âncora*/
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}